<%
  var form = {
    action: 'login',
    method: 'POST',
    input: {
      account: {
        title: '帳號',
        type: 'text',
      },
      password: {
        title: '密碼',
        type: 'password',
      },
    },
  }
%>
<% include ../partials/FormOpen %>

<%
  var form = {
    submit: '登入',
  }
%>
<% include ../partials/FormClose %>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <br>
    <div class="col-md-offset-4">

      <div class="btn btn-warning btn-block">
        我忘記密碼惹 <span class="glyphicon glyphicon-question-sign"></span>
      </div>

    </div>
  </div>
</div>
