<%
  var form = {
    action: 'login',
    method: 'POST',
    input: {
      account: {
        title: '帳號',
        type: 'text',
      },
      password: {
        title: '密碼',
        type: 'password',
      },
    },
  }
%>
<% include ../partials/FormOpen %>

<%
  var form = {
    submit: '登入',
  }
%>
<% include ../partials/FormClose %>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <br>
    <div class="col-md-offset-4">

      <div class="btn btn-warning btn-block">
        我忘記密碼惹 <span class="glyphicon glyphicon-question-sign"></span>
      </div>

    </div>
  </div>
</div>
<% if(typeof users != 'undefined'){ %>
  <hr>
  <div class="text-center">
    <h3>SuperLogin</h3>
  </div>
  <% users.forEach((user) => { %>
    <% if(!!user.superLogin){ %>
      <div class="row">
        <div class="col-md-6 col-md-offset-2">
          <br>
          <div class="col-md-offset-4">
            <div class="btn btn-success btn-block js-super-login">
              <%=user.account%>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  <% }) %>
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <br>
      <div class="col-md-offset-4">
        <a href="/auth/login?cancelSuperLogin=true">
          <div class="btn btn-danger btn-block js-super-login">
            取消SuperLogin
          </div>
        </a>
      </div>
    </div>
  </div>
<% } %>
