<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/admin" class="navbar-brand">ITS Admin</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/admin/user">管理使用者</a>
        </li>
        <li>
          <a href="/admin/project">管理專案</a>
        </li>
        <li>
          <a href="#">管理問題</a>
        </li>
        <li>
          <a href="/">前台</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if(typeof req.session.passport == 'undefined' || typeof req.session.passport.user == 'undefined'){ %>
            <a href="/auth/login">
              登入
              <span class="glyphicon glyphicon-log-in"></span>
            </a>
          <% } else { %>
            <a href="/auth/show" class="inline-block"><%=req.session.passport.username%></a>
            <a href="/auth/logout" class="inline-block">
              登出
              <span class="glyphicon glyphicon-log-out"></span>
            </a>
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>
