
<%
  var form = {
    action: `/project/${project.id}/update`,
    method: 'POST',
    input: {
      showManager:{
        title: '專案管理員',
        type: 'text',
        value: project.manager.name,
        disabled: 'disabled',
      },
      name: {
        title: '名稱',
        value: project.name
      },
    },
  }
%>
<% include ../partials/FormOpen %>
<div class="form-group">
  <label class="col-md-4 control-label">成員</label>
  <div class="col-md-8">
    <div class="js-select-members" data-endpoint="/api/user/getMemberList/?projectId=<%=project.id%>">
      <div id="hacker-list">
        <ul class="selected-list"></ul>
        <input class="search form-control" />
        <ul class="list"></ul>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label">專案描述</label>
  <div class="col-md-8">
    <textarea name="info" cols="30" rows="10" class="form-control"><%=project.info%></textarea>
  </div>
</div>

<%
  var form = {
    submit: '送出',
  }
%>
<% include ../partials/FormClose %>
