<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table">
      <thead>
        <th>專案名稱</th>
        <th>權限</th>
      </thead>
      <tbody>
        <!-- 我參與的專案 -->
        <!-- 權限分為PM及Engineer -->
        <% if(projects.length){ %>
          <% projects.forEach(function(project){ %>
            <tr>
              <td><%=project.name%></td>
              <td><%=(project.manager.id == req.session.passport.user) ? 'PM' : 'Engineer' %></td>
            </tr>
          <% }) %>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
