<div class="row">
  <% include partials/navbar %>
  <div class="col-md-8 col-md-offset-2">
    <!-- 關於專案 -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          專案描述
        </div>
        <div class="panel-body">
          <%=project.info %>
        </div>
      </div>
    </div>
    <!-- 專案成員們 -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          參與成員
        </div>
        <div class="panel-body">
          <h4>專案管理員</h4>
          <p><%=project.manager.name%></p>
          <h4>成員</h4>
          <% project.members.forEach(function(member){ %>
            <p><%=member.name %></p>
          <% }) %>
        </div>
      </div>
    </div>
    <!-- issue追蹤 -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          問題追蹤
        </div>
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
</div>
