<% include partials/BackToIndex %>
<%
  var form = {
    action: `/admin/user/update/${user.id}`,
    method: 'POST',
    input: {
      account: {
        title: '帳號',
        value: user.account,
        disabled: 'disabled',
      },
      name: {
        title: '暱稱',
        value: user.name,
      },
      password: {
        title: '密碼',
        type: 'password',
      },
    },
  }
%>
<% include ../partials/FormOpen %>

<div class="form-group">
  <label class="col-md-2 control-label">權限</label>
  <div class="col-md-10">
    <select name="permission" class="selectpicker">
      <% permissions.forEach((permission) => { %>
        <option value="<%=permission%>" <%=(permission === user.permission) ? 'selected' : ''%>><%=permission%></option>
      <% }) %>
    </select>
  </div>
</div>

<%
  var form = {
    submit: '送出',
  }
%>
<% include ../partials/FormClose %>
