<% if(typeof req.session.passport == 'undefined' || typeof req.session.passport.user == 'undefined'){ %>
  <a href="/auth/login">登入</a>
<% } else { %>
  <a href="/auth/logout">登出</a>
<% } %>
<a href="/user">管理使用者</a>
<br>

<div>
  <% flash.get('success').forEach(function (message) { %>
    <div class="alert alert-success" role="alert">
       <%= message %>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
       </button>
    </div>
  <% }) %>
  <% flash.get('info').forEach(function (message) { %>
    <div class="alert alert-info" role="alert">
       <%= message %>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
       </button>
    </div>
  <% }) %>
  <% flash.get('warning').forEach(function (message) { %>
    <div class="alert alert-warning" role="alert">
       <%= message %>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
       </button>
    </div>
  <% }) %>
  <% flash.get('danger').forEach(function (message) { %>
    <div class="alert alert-danger" role="alert">
       <%= message %>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
       </button>
    </div>
  <% }) %>
</div>
