<br>I am Header <br><br>
<% if(typeof req.session.passport == 'undefined' || typeof req.session.passport.user == 'undefined'){ %>
  <a href="/auth/login">登入</a>
<% } else { %>
  <a href="/auth/logout">登出</a>
<% } %>
<br>
