<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <a href="/user">
      <button type="button" class="btn btn-default">
        回列表
      </button>
    </a>
    <form class="" action="/user/create" method="post">
      <div class="form-group">
        帳號：<input type="text" name="name" value="">
      </div>
      <div class="form-group">
        密碼：<input type="password" name="password" value="">
      </div>
      <div class="form-group">
        權限：
        <select name="permission" class="selectpicker">
          <% permissions.forEach((permission) => { %>
            <option value="<%=permission%>"><%=permission%></option>
          <% }) %>
        </select>
      </div>
      <input type="submit" value="送出" class="btn btn-default">

    </form>

  </div>
</div>
