<div class="row">
  <% include ../project/partials/navbar %>
  <div class="col-md-8 col-md-offset-2">
    <!-- title -->
    <div class="row">
      <div class="col-md-10">
        <h4 class="inline">
          首頁跑版
          <span>(new)</span>
        </h4>
        <span class="label label-default">normal</span>
        <span class="label label-danger">BUG</span>
        <br>
        <h6 class="inline"># 11天前 創建於 攻城屍2號</h6>
      </div>
      <div class="col-md-1">
        <a href="#" class="btn btn-default">
          <span class="glyphicon glyphicon-edit"></span>
          編輯
        </a>
      </div>
    </div>
    <hr>

    <!-- info -->
    <div class="row">
      <div class="col-md-offset-1">
        首頁標題位置跑版<br>
        首頁標題位置跑版<br>
        首頁標題位置跑版<br>
        首頁標題位置跑版<br>
        首頁標題位置跑版<br>
      </div>
    </div>
    <hr>

    <!-- assign -->
    <div class="row">
      <div class="col-md-offset-1">
        <div>
          指派：攻城屍3號
        </div>
      </div>
    </div>
    <hr>

    <!-- old comment -->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-offset-1">
            <h6># 11天前 指派給 攻城屍1號</h6>
          </div>
          <br>
        </div>

        <div class="row">
          <div class="col-md-1 authShow authShow-sm">
            <div class="inline-block title">
              <div class="image">
                <div>
                  Ｐ
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-11">
            <h5 class="inline">專案管理員</h5>
            <h6 class="inline">@ 9天前 留言</h6>
            <div>
              這真是件非常奇怪的ＢＵＧ。
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-offset-1">
            <h6># 9天前 攻城屍1號 花費了 6小時</h6>
            <h6># 9天前 指派給 攻城屍2號</h6>
          </div>
          <br>
        </div>

        <div class="row">
          <div class="col-md-offset-1">
            <h6># 5天前 攻城屍2號 花費了 3小時</h6>
            <h6># 5天前 指派給 攻城屍1號</h6>
          </div>
          <br>
        </div>


      </div>

    </div>

    <!-- comment -->
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-1 authShow authShow-sm">
            <div class="inline-block title">
              <div class="image">
                <div>
                  攻
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-11">
            <div class="form-group">
              <textarea name="info" cols="30" rows="5" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-success" value="留言">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
