*{
  font-family: "PingFang TC", "微軟正黑體", "Helvetica Neue", "Roboto", sans-serif;
}

body { padding-top: 70px; }

.inline{
  display: inline;
}

.inline-block{
  display: inline-block;
}

.text-center{
  text-align: center;
}

.navbar{
  min-height: 30px;
}

.navbar-brand{
  height: 30px;
  padding: 6px 15px;
}

.navbar-nav>li>a {
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 200;
}
