.js-select-members{
  #hacker-list{
    ul{
      padding: 0px;
    }
  }
}
.js-select-members-trigger{
  list-style: none;
  cursor: pointer;
  padding: 0.5em 1em;
  font-weight: 200;
  &:hover{
    background-color: @select-background;
  }
  .badge{
    margin-left: 5px;
    font-weight: 200;
  }
}
.js-select-members-selected{
  .js-select-members-trigger;
  background-color: @select-background;
}
