<div class="col-md-8 col-md-offset-2">
  <a href="/admin/user">
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-chevron-left"></span>
      管理使用者
    </button>
  </a>
</div>
